.content {
    margin: 30px;
}

.post-card {
    margin-bottom: 20px;
}

.label {
    margin: 5px;
}

.btn-row {
    margin-right: 5px;
    margin-left: 10px;
}

.bottom-block {
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}