<div style="width: 700px;margin: 0 auto">
    <form method="post" action="{% url "posts:create" %}">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {{ form.user }}
        <div class="form-group">
            {% if form.name.errors %}
                <div class="alert alert-danger" role="alert">{{ form.name.errors }}</div>
            {% endif %}
            <label for="{{ form.name.label }}">{{ form.name.label }}:</label>
            <input type="text" name="{{ form.name.name }}" class="form-control" id="{{ form.name.label }}" required>
        </div>
        <div class="form-group">
            {% if form.message.errors %}
                <div class="alert alert-danger" role="alert">{{ form.message.errors }}</div>
            {% endif %}
            <label for="{{ form.message.label }}">{{ form.message.label }}:</label>
            <textarea name="{{ form.message.name }}" class="form-control" id="{{ form.message.label }}"
                      rows="3"></textarea>
        </div>
        <div class="form-group">
            {% if form.parent.errors %}
                <div class="alert alert-danger" role="alert">{{ form.parent.errors }}</div>
            {% endif %}
            <label for="{{ form.parent.label }}">{{ form.parent.label }}:</label>
            <select name="{{ form.parent.name }}" class="form-control" id="{{ form.parent.label }}">
                {% for option in form.parent.field.choices %}
                    <option value="{{ option.0 }}">{{ option.1 }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
        </div>
    </form>
</div>