<div class="col-sm-{% if way == 'solo' %}15{% else %}6{% endif %}" id="id_todo_{{ todos.id }}">
    <div class="card post-card block-2 {% if way == 'solo' %};block-2-2{% endif %}">
        <div class="card-body block-grid">
            <h5 class="card-header block-2-3">{{ todos.name | truncatechars:30}}
                {% if not way == "solo" %}
                    <a href="{% url 'posts:show_todo' pk=todos.id %}" class="btn btn-info">Look</a>
                {% endif %}
                </br>
             <span class="badge badge-info">Subtask:{{ todos.children.all|length }} </span>
            </h5>
            <p class="card-text">{{ todos.message | truncatechars:55 }}</p>
            <div class="block-flex">
                <div class="block-flex-2">
                    <a href="{% url "posts:update" pk=todos.id %}" class="btn btn-primary">Update</a>
                    <div class="form-check form-switch block-mr-l-10">
                        <input class="form-check-input complete-checkbox" type="checkbox" role="switch"
                               href-data="{% url "posts:update" pk=todos.id %}"
                               id="SwitchCheck_{{ todos.id }}" {% if todos.completed %}checked{% endif %}>
                        <label class="form-check-label er-axios-{{ todos.id }}"
                               for="flexSwitchCheckDefault">Complete</label>
                    </div>
                </div>
                <div class="block-fx-1">
                    <button class="btn btn-danger btn-delete txt-ft-r" href-data="{% url 'posts:delete' pk=todos.id %}"
                            data-id="{{ todos.id }}" type="submit">Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% if way == 'solo' %}
        <div class="container">
            <div class="row cols-2">
                {% for todo in todos.children.all %}
                    <div class="col block-2-fx-gw-0">
                        <div class="card post-card block-2-w">
                            <div class="card-body">
                                <h5 class="card-title">{{ todo.name }}
                                    {% if not way == "solo" %}
                                        <a href="{% url 'posts:show_todo' pk=todo.id %}" class="btn btn-info txt-ft-r">Look</a>
                                    {% endif %}
                                </h5>
                                <p class="card-text">{{ todo.message }}</p>
                                <div class="block-flex">
                                    <div class="block-fx-1">
                                        <a href="{% url "posts:update" pk=todo.id %}" class="btn btn-primary">Update</a>
                                    </div>
                                    <div class="block-fx-1">
                                        <button class="btn btn-danger btn-delete txt-ft-r"
                                                href-data="{% url 'posts:delete' pk=todos.id %}"
                                                data-id="{{ todos.id }}" type="submit">Delete
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>